DOMAIN_NAME=localhost

MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser

WORDPRESS_TITLE=Inception
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_EMAIL=admin@example.com
WORDPRESS_USER=author
WORDPRESS_USER_EMAIL=author@example.com
