DOMAIN_NAME=localhost

MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=change-me-db-password
MYSQL_ROOT_PASSWORD=change-me-root-password

WORDPRESS_TITLE=Inception
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=change-me-admin-password
WORDPRESS_ADMIN_EMAIL=admin@example.com
WORDPRESS_USER=author
WORDPRESS_USER_PASSWORD=change-me-author-password
WORDPRESS_USER_EMAIL=author@example.com
